body {
    background-color: #f8f9fa;
}

h1, h2 {
    color: #343a40;
}

.container {
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
}
